.userRegister{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.register{
    background-color: #4D8B31;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 32px;
}
.attribute{
    display: flex;
    justify-content: space-around;
}
.attribute a, .attribute button{
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}
.attEdit{
    background-color: #1e212b;
}
.attDelete{
    background-color: #e63946;
}
.form-label {
    font-size: 14px;
}
.form-text {
    font-size: 11px;
}
#toView{
    cursor: pointer;
}
.card.text-dark.bg-light.mb-3{
    width: 25%;
}
.card-header {
    font-weight: bold;
    font-size: 18px;
}
#searchName, #searchPriority, #searchSituation{
    width: 25%;
    border-radius: 10px;
    border-color: #dee2e6;
    text-align: center;
}
/*------------events------------*/

.register:hover{
    color: #1e212b;
}
.attEdit:hover{
    color: #e63946;
}
.attDelete:hover{
    color: #1e212b;
}

/*------------media------------*/

@media only screen and (max-width: 1023px) {
    table{
        font-size: 12px;
    }
    #notClick select {
        font-size: 12px;
    }
    .attribute a, .attribute button {
        font-size: 12px;
        margin-right: 5px;
    }
}
@media only screen and (max-width: 768px) {
    .userRegister{
        flex-direction: column;
        align-items: flex-end;
    }
    #searchName, #searchPriority, #searchSituation {
        width: 100%;
        margin-bottom: 10px;
    }
    table {
        max-width: fit-content;
        margin: 0 auto;
        overflow-x: auto;
        white-space: nowrap;
    }
    table.table.table-bordered {
        display: block !important
    }
    td#notClick {
        min-width: 125px;
    }
}

